@font-face {
    font-family: lato-italic1;
    src: url(../font/Lato/Lato-BlackItalic.ttf);
}

@font-face {
    font-family: lato-italic;
    src: url(../font/Lato/Lato-Black.woff2);
}

@font-face {
    font-family: lato-bold;
    src: url(../font/Lato/Lato-Bold.woff2);
}

@font-face {
    font-family: lato-regular;
    src: url(../font/Lato/Lato-Regular.woff);
}